.select_area {
  font-size: 0px;
}

.team {
  width: 20%;
  padding: 4% 0;
  display: inline-block;
  font-size: 13px;
}

.tool_tab_area {
  font-size: 0px;
  margin-bottom: 5px;
}

.tool {
  width: calc(100% / 4);
  padding: 4% 0;
  display: inline-block;
  font-size: 13px;
}

/* ガチャ */
.gacha, .exchange {
  width: 100%;
  font-size: 0px;
}

.gacha_select, .exchange_select {
  margin-bottom: 15px;
}

.gacha_key {
  width: calc(100% / 3);
  padding: 4% 0;
  display: inline-block;
  font-size: 13px;
}

.gacha_count_key, .exchange_count_key {
  width: calc(100% / 5);
  padding: 2% 0;
  display: inline-block;
  font-size: 13px;
}

/* 換金 */

.exchange_key {
  width: calc(100% / 4);
  padding: 4% 0;
  display: inline-block;
  font-size: 13px;
}

/* 電卓 */
.calulate {
  margin: 0 5%;
  font-size: 20px;
  text-align: center;
}

.calulate_operation {
  height: 40px;
  width: 40px;
  text-align: center;
  vertical-align: middle;
  *padding: 3% 4%;
  display: inline-block;
  line-height: 1;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
}

.calulate_operation p {
  margin: 9px 0;
}

.calulate_amount {
  height: 25px;
  width: 74%;
  padding: 3% 2%;
  display: inline-block;
  line-height: 1;
}

.calc_ope{
  margin: 5% 0;
  font-size: 0px;
}

.ope_key {
  width: 23%;
  height: auto;
  padding: 2% 0;
  margin: 0 1%;
  font-size: 13px;
  display: inline-block;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}

.calc {
  margin: 5% 0;
  font-size: 0px;
  text-align: center;
}

.calc_key {
  width: 30%;
  padding: 5% 0;
  margin: 1% 1%;
  font-size: 13px;
  display: inline-block;
  line-height: 1;
}

/* 送信ボタンのテンプレート */
.submit_template {
  width: 80%;
  font-size: 13px;
  padding: 4% 0;
  margin: 20px auto;
}
