.select_area {
  font-size: 0px;
}

.team {
  width: 20%;
  padding: 2% 0;
  display: inline-block;
  font-size: 13px;
}

.current_money {
  height: 20px;
  margin: 5% 5%;
  padding: 3% 6%;
  font-size: 20px;
  line-height: 1;
  border: 4px double #333;
}

.current_money::after {
  content: ' G'
}

.calulate {
  margin: 0 5%;
  font-size: 20px;
  text-align: center;
}

.calulate_operation {
  height: 20px;
  width: 10%;
  padding: 3% 4%;
  display: inline-block;
  line-height: 1;
}

.calulate_amount {
  height: 20px;
  width: 74%;
  padding: 3% 2%;
  display: inline-block;
  line-height: 1;
}

.calc_ope{
  margin: 5% 0;
  font-size: 0px;
}

.ope_key {
  width: 23%;
  padding: 3% 0;
  margin: 0 1%;
  font-size: 20px;
  display: inline-block;
}

.calc {
  margin: 5% 0;
  font-size: 0px;
  text-align: center;
}

.calc_key {
  width: 30%;
  height: 15px;
  padding: 5% 0;
  margin: 1% 1%;
  font-size: 20px;
  display: inline-block;
  line-height: 1;
}
