html {
  box-sizing: border-box;
  border-collapse: collapse;
  width: 100%;
}

.select_area {
  font-size: 0px;
}

.team {
  width: 20%;
  padding: 2% 0;
  display: inline-block;
  font-size: 13px;
}

.current_money {
  margin: 2% 5%;
  padding: 2% 6%;
  font-size: 20px;
  border: 4px double #333;
}

.current_money::after {
  content: ' G'
}

.calulate {
  margin: 0 5%;
  font-size: 20px;
  text-align: center;
}

.calulate_operation {
  width: 10%;
  padding: 2% 6%;
  display: inline-block;
}

.calulate_amount {
  width: 60%;
  padding: 2%;
  display: inline-block;
}

.calc_ope{
  margin: 5% 0;
  font-size: 0px;
}

.ope_key {
  width: 23%;
  padding: 2% 0;
  margin: 0 1%;
  font-size: 20px;
  display: inline-block;
}

.calc {
  margin: 5% 0;
  font-size: 0px;
  text-align: center;
}

.calc_key {
  width: 30%;
  padding: 2% 0;
  margin: 1% 1%;
  font-size: 20px;
  display: inline-block;
}
